/** @format */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

// Modno Bright
$levis-clear-purple: #dcdfe4;
$auro-peppermint: #d5dbe0;
$berger-clear-to-see: #d0dade;
$sherwin-williams-wishful-blue: #d8dde6;
$delta-drizzle-grey: #d1d3d4;
// Mono Medium
$california-paints-baby-seal: #a1a5a8;
$trumatch-29-g7: #a0a6aa;
$kelly-moore-camp-muir: #5e6469;
// Mono Dark
$ecos-paints-quiet-peace: #49536b;
$farrownball-drawing-room-blue: #2e3548;
// Blue tone
$clark-kensington-stowe-mountain: #717593;

$main-color: #0d60d3;
$primary-color: #0d60d3;
$secondary-color: #f2f1ff;
$dark-primary-color: #27292d;
$dark-tertiary-color: #85899a;
$dark-secondary-color: $clark-kensington-stowe-mountain;

$input-height: 36px;
$input-outline-color: $primary-color;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #434649;
  width: 100%;
  font: 15px/1 "Roboto", "Noto Sans KR";

  img {
    display: block;
  }

  svg {
    display: flex;
    fill: $ecos-paints-quiet-peace;
  }

  small {
    display: inline-flex;
    font-family: "RobotoMedium", "Noto Sans KR", sans-serif;
  }

  address {
    font-style: normal;
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
    line-height: 1.25;
    word-break: break-all;
    font-weight: 500;
  } 
  
  p {
    margin: 0;
    line-height: 1.25;
    word-break: break-all;
  }

  a {
    text-decoration: none;
    color: #333;
    display: inline-flex;
    align-items: center;
    transition: 0.4s;


    &:is(:hover, :focus, .active) {
      outline: none;
      text-decoration: none;
    }
  }

  button {
    user-select: none;
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 0.25rem;
    white-space: nowrap;
    font: 15px/1 "Roboto", "Noto Sans KR";
    transition: background 0.2s;
    cursor: pointer;

    &:disabled {
      color: darkgray !important;
      background-color: #eee !important;
      cursor: default;
    }

    .btn-submit {
      background-color: $primary-color;
      color: white;
    }
  }

  :is(input, select, button, textarea) {
    &:focus {
      outline: 0;
    }
  }
}

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:read-only {
    background-color: rgba($sherwin-williams-wishful-blue, 0.5);
  }

  &:focus {
    border-color: $input-outline-color !important;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:is([type="text"], [type="url"], [type="password"], [type="search"], [type="number"], [type="tel"], [type="email"]) {
    -webkit-appearance: none;
    height: $input-height;
    background-color: white;
    border: 1px solid #e3e6e9;
    border-radius: 3px;
    padding: 0.5rem 0.35rem;
    position: relative;
    font: 14px/1 "Noto Sans KR";
  }

  &[type="password"] {
    font-family: initial;
  }
}

textarea {
  -webkit-appearance: none;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 5rem;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 0.25rem;
  padding: 0.5rem;
  resize: none;
  font: 14px/1 "Noto Sans KR";

  &:focus {
    border-color: $primary-color;
  }
}

label {
  font-weight: normal;
  /* bootstrap*/
  margin-bottom: 0;
  /* bootstrap*/
}

fieldset {
  border-radius: 0.5rem;
  border: 1px solid #ddd;

  legend {
  }
}

section {
  position: relative;
}

ul {
  list-style: none;
}

.tilde {
  display: flex;
  align-items: center;
  margin: 0 0.25rem;
}

.x {
  display: flex;
  width: 18px;
  height: 18px;
  background-image: linear-gradient(lightslategray 0 0), linear-gradient(lightslategray 0 0);
  background-position: center;
  background-size: 100% 2px, 2px 100%;
  background-repeat: no-repeat;
  transform: rotate(45deg);
  transition: opacity 0.25s;
}

.active {
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 50 !important;
}

.responsive {
  display: none;
  align-items: center;
}

.row {
  display: flex;
}

.container {
  padding: 0;
  width: 100%;
}

.input {
  .x {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
}

/* =====================================================
   Icon
   ===================================================== */
[class*="ico"] {
  background-repeat: no-repeat;
}

.ico-sort {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none' /%3E%3Cpath fill='slategray' d='M12 5.83L15.17 9l1.41-1.41L12 3 7.41 7.59 8.83 9 12 5.83zm0 12.34L8.83 15l-1.41 1.41L12 21l4.59-4.59L15.17 15 12 18.17z' /%3E%3C/svg%3E");
  background-position: center right 5px;
  background-size: 18px;
  cursor: pointer;
}

.ico-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z' fill='white' /%3E%3C/svg%3E");
  background-size: 20px 20px;
  background-position: center;
}

.ico-delete {
  background-color: transparent !important;

  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='slategray' d='M54,8H42V4c0-2.2-1.8-4-4-4H26c-2.2,0-4,1.8-4,4v4H10c-2.2,0-4,1.8-4,4v8h4.1l2.6,38.4c0.2,3.1,2.8,5.6,6,5.6h26.5 c3.1,0,5.8-2.5,6-5.6L53.9,20H58v-8C58,9.8,56.2,8,54,8z M26,4h12v4H26V4z M47.3,58.1c-0.1,1-0.9,1.9-2,1.9H18.7 c-1,0-1.9-0.8-2-1.9L14.1,20h35.7L47.3,58.1z M54,16H10v-4h44V16z'/%3E%3Crect fill='slategray' x='9' y='37' transform='matrix(7.669654e-02 0.9971 -0.9971 7.669654e-02 59.1978 14.0736)' width='26.1' height='4'/%3E%3Crect fill='slategray' x='30' y='26' width='4' height='26'/%3E%3Crect fill='slategray' x='40' y='26' transform='matrix(0.9971 7.665917e-02 -7.665917e-02 0.9971 3.1133 -3.1049)' width='4' height='26.1'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 100%;
    width: 16px;
    height: 16px;
    display: inline-block;
    transition: 0.25s;
  }

  &:hover {
    background-color: #f2f3f3 !important;
  }
}

.ico-chart {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='slategray' d='M10 20h4V4h-4v16zm-6 0h4v-8H4v8zM16 9v11h4V9h-4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

.ico-list {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath fill='slategray' d='M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

.ico-grid {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='slategray' d='M3 3v8h8V3H3zm6 6H5V5h4v4zm-6 4v8h8v-8H3zm6 6H5v-4h4v4zm4-16v8h8V3h-8zm6 6h-4V5h4v4zm-6 4v8h8v-8h-8zm6 6h-4v-4h4v4z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

.ico-filter {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24' viewBox='0 0 24 24' width='24'%3E%3Cg%3E%3Cpath d='M0,0h24 M24,24H0' fill='none'/%3E%3Cpath fill='lightgray' d='M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6c0,0,3.72-4.8,5.74-7.39 C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z'/%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14px;
    height: 14px;
    display: inline-block;
  }
}

.ico-star {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='lightgray' d='M48.9,64c-0.9,0-1.7-0.3-2.4-0.7L32.3,54c-0.2-0.1-0.3-0.1-0.5,0l-14.2,9.3C16.8,63.7,16,64,15.1,64 c-1.4,0-2.7-0.6-3.5-1.7c-0.9-1.1-1.2-2.5-0.8-3.8L14.8,41c0-0.2,0-0.4-0.2-0.5L1.5,28.7c-1.3-1.2-1.8-3.1-1.3-4.8 c0.6-1.7,2.1-2.9,3.9-3l16.9-1.3c0.2,0,0.3-0.1,0.4-0.3l6.3-16.4C28.5,1.1,30.1,0,32,0s3.5,1.1,4.2,2.9l6.3,16.4 c0.1,0.2,0.2,0.3,0.4,0.3l16.9,1.3c1.8,0.1,3.3,1.3,3.9,3c0.6,1.7,0.1,3.6-1.3,4.8L49.3,40.5c-0.1,0.1-0.2,0.3-0.2,0.5l4.1,17.5 c0.3,1.3,0,2.7-0.8,3.8C51.6,63.4,50.2,64,48.9,64z M32,49.9c0.9,0,1.7,0.3,2.5,0.7l14.2,9.3c0.2,0.2,0.5,0.1,0.7-0.1 c0.1-0.1,0.1-0.2,0.1-0.4l-4.1-17.5c-0.4-1.6,0.2-3.3,1.4-4.4l13.2-11.7c0.2-0.2,0.2-0.4,0.1-0.5c-0.1-0.2-0.2-0.3-0.4-0.3 l-16.9-1.3c-1.7-0.1-3.2-1.3-3.8-2.9L32.5,4.3c-0.2-0.4-0.7-0.4-0.9,0l-6.3,16.4c-0.6,1.6-2.1,2.7-3.8,2.9L4.5,24.9 c-0.2,0-0.4,0.1-0.4,0.3c0,0.1-0.1,0.4,0.1,0.5l13.2,11.7c1.2,1.1,1.8,2.8,1.4,4.4l-4.1,17.5c0,0.2,0,0.3,0.1,0.4 c0.2,0.2,0.4,0.3,0.7,0.1l14.2-9.3C30.3,50.1,31.1,49.9,32,49.9z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    transition: 0.25s;
  }

  &.active {
    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='rgba(255,184,63)' d='M62,22.8l-18.9-1.5c-0.8-0.1-1.6-0.6-1.9-1.4L34,1.4c-0.7-1.9-3.4-1.9-4.1,0l-7.2,18.5c-0.3,0.8-1,1.3-1.9,1.4L2,22.8 c-1.9,0.1-2.7,2.6-1.3,3.8l14.6,12.9c0.6,0.5,0.9,1.4,0.7,2.2l-4.6,19.6c-0.5,1.9,1.7,3.4,3.3,2.4l16-10.4c0.7-0.5,1.7-0.5,2.4,0 l16,10.4c1.7,1.1,3.8-0.4,3.3-2.4L48,41.7c-0.2-0.8,0.1-1.6,0.7-2.2l14.6-12.9C64.7,25.3,63.9,22.9,62,22.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.ico-download {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24' viewBox='0 0 24 24' width='24'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='rgb(91, 84, 198)' d='M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left 0.75rem;
  padding-left: 1.75rem !important;
}

.ico-phone {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgb(73,81,88)' d='M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center left;
  padding-left: 1.25rem !important;
}

.ico-refresh {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgb(118, 130, 248)' d='M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left 0.65rem;
  padding-left: 1.75rem !important;
}

.ico-store {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='18' viewBox='0 0 24 24' width='18'%3E%3Cg%3E%3Crect fill='none' height='24' width='24' /%3E%3C/g%3E%3Cg%3E%3Cg /%3E%3Cg%3E%3Cpath fill='darkgray' d='M21.9,8.89l-1.05-4.37c-0.22-0.9-1-1.52-1.91-1.52H5.05C4.15,3,3.36,3.63,3.15,4.52L2.1,8.89 c-0.24,1.02-0.02,2.06,0.62,2.88C2.8,11.88,2.91,11.96,3,12.06V19c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2v-6.94 c0.09-0.09,0.2-0.18,0.28-0.28C21.92,10.96,22.15,9.91,21.9,8.89z M18.91,4.99l1.05,4.37c0.1,0.42,0.01,0.84-0.25,1.17 C19.57,10.71,19.27,11,18.77,11c-0.61,0-1.14-0.49-1.21-1.14L16.98,5L18.91,4.99z M13,5h1.96l0.54,4.52 c0.05,0.39-0.07,0.78-0.33,1.07C14.95,10.85,14.63,11,14.22,11C13.55,11,13,10.41,13,9.69V5z M8.49,9.52L9.04,5H11v4.69 C11,10.41,10.45,11,9.71,11c-0.34,0-0.65-0.15-0.89-0.41C8.57,10.3,8.45,9.91,8.49,9.52z M4.04,9.36L5.05,5h1.97L6.44,9.86 C6.36,10.51,5.84,11,5.23,11c-0.49,0-0.8-0.29-0.93-0.47C4.03,10.21,3.94,9.78,4.04,9.36z M5,19v-6.03C5.08,12.98,5.15,13,5.23,13 c0.87,0,1.66-0.36,2.24-0.95c0.6,0.6,1.4,0.95,2.31,0.95c0.87,0,1.65-0.36,2.23-0.93c0.59,0.57,1.39,0.93,2.29,0.93 c0.84,0,1.64-0.35,2.24-0.95c0.58,0.59,1.37,0.95,2.24,0.95c0.08,0,0.15-0.02,0.23-0.03V19H5z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  display: inline-block;
}

/* =====================================================
   Menu
   ===================================================== */
[class*="menu"] {
  user-select: none;
  cursor: pointer;
}

.hamburg-menu {
  svg {
    width: 3rem;
    height: 3rem;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.4s;
    user-select: none;
    cursor: pointer;

    path {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #333;
      stroke-width: 5.5;
      stroke-linecap: round;

      &:first-of-type {
        stroke-dasharray: 40 139;
      }

      &:last-of-type {
        stroke-dasharray: 40 180;
      }
    }
  }

  &.active {
    svg {
      transform: rotate(45deg);

      &:first-of-type {
        stroke-dashoffset: -98px;
      }

      &:last-of-type {
        stroke-dashoffset: -138px;
      }
    }
  }
}

/* =====================================================
   Header
   ===================================================== */
header {
  flex: 0 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;

  a {
    display: flex;
  }

  .logo {
    line-height: 1;
  }

  .menu {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

/* =====================================================
   Main
   ===================================================== */
main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

/* =====================================================
   Aside
   ===================================================== */
aside {
  background-color: white;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  transition: width 0.25s;

  ul {
    flex-direction: column;
    li {
      flex: 1 1 auto;
    }
  }
}

.content {
  opacity: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  animation: fadeInOpacity 0.4s forwards;
  transition: 0.25s;
}

.content-title {
  flex: 0 0 auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font: normal 2rem/1 "Noto Sans KR";
    flex: 1 1 auto;
  }
}

.content-view {
  flex: 0 1 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.content-title + .content-view {
  padding: 0 1rem 1rem 1rem;
}

.input {
  position: relative;

  input {
    flex: 1 1 auto;
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  min-height: 32px;

  .title {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    width: 100%;
  }

  .input {
    position: relative;
    flex: 1 1 auto;

    input {
      width: 100%;
    }
  }

  input {
    width: auto;
    flex: 1 1 auto;
  }
}

.input-container {
  display: flex;
  align-content: center;
  margin-bottom: 1rem;
  position: relative;
  label {
    align-self: center;
  }
  input {
    flex: 1 1 auto;
  }
  div {
    display: flex;
    align-items: center;
    input {
      flex: 1 1 auto;
    }
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

/* Progress */

progress {
  height: 12px;
  width: 100%;
  border-radius: 0.25rem;
  border: 0;
  background-color: #eee;

  &::-webkit-progress-bar {
    height: 12px;
    width: 100%;
    border-radius: 0.5rem;
    border: 0;
    background-color: #eee;
  }
  &::-webkit-progress-value {
    height: 12px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $main-color;
  }
  &::-moz-progress-bar {
    height: 12px;
    width: 100%;
    border-radius: 0.5rem;
  }
}

.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  background-color: lightsteelblue;
  transform: translateY(14px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg.progress-circle path {
  stroke: white;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg {
  fill: white;
  align-self: center;
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 24px;

  > button {
    background-color: #e3e6e9;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow {
    display: inline-flex;
    border: 1px solid slategray;
    border-left: none;
    border-bottom: none;
    width: 6px;
    height: 6px;
    margin-left: 0.15rem;

    &.left {
      transform: rotate(225deg);
    }

    &.right {
      transform: rotate(45deg);
    }

    &.double {
      gap: 0.25rem;

      &::before {
        content: "";
        position: absolute;
        display: inline-flex;
        border: 1px solid slategray;
        border-left: none;
        border-bottom: none;
        width: 6px;
        height: 6px;
        top: 2px;
        left: -3px;
      }
    }
  }

  .pages {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;

    button {
      color: $kelly-moore-camp-muir;
      display: flex;
      align-items: center;

      &.active {
        color: $primary-color;
        font-family: "RobotoMedium";
      }
    }
  }
}

/* =====================================================
   Checkbox
   ===================================================== */
.checkbox {
  position: relative;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;

    &:checked {
      + label {
        &::before {
          content: "";
          background: $main-color;
          border-color: $main-color;
        }

        &::after {
          border-color: white;
        }
      }
    }
  }

  label {
    flex: 1 1 auto !important;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    transition: 0.2s color;
    cursor: pointer;

    &::before {
      content: "";
      border-radius: 3px;
      margin-right: 3px;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      background-color: white;
      transition: 0.2s;
    }

    &::after {
      content: "";
      width: 10px;
      height: 6px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 2px solid #e3e6e9;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 1;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

/* =====================================================
   Radio Button
   ===================================================== */
input[type="radio"] {
  display: none !important;
  opacity: 0;

  + label {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;

    &::before {
      content: "";
      flex: 0 0 auto;
      background: #f3f6f9;
      border-radius: 100%;
      border: 1px solid #e3e6e9;
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      margin-right: 3px;
      vertical-align: middle;
      transition: all 0.2s ease;
    }

    &:empty {
      &::before {
        margin-right: 0;
      }
    }
  }

  &:is(:hover, :checked) {
    + label {
      &::before {
        border-color: $primary-color !important;
        background-color: $primary-color !important;
        box-shadow: inset 0 0 0 3px #f3f6f9;
      }
    }
  }

  &:focus {
    + label:before {
      outline: none;
    }
  }

  &:disabled {
    + label {
      cursor: auto;

      &::before {
        border-color: #b4b4b4;
        background: #f4f4f4;
      }
    }

    &:checked {
      + label {
        &:before {
          box-shadow: inset 0 0 0 2px #f4f4f4;
          border-color: #b4b4b4;
          background: #b4b4b4;
        }
      }
    }
  }
}

.input-comment {
  flex: 1 1 100% !important;
}

/* Input File */

.input-file-container {
  position: relative;
  .input-file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 0.5rem 0;
    cursor: pointer;
  }
  .input-file-trigger {
    display: block;
    font: normal 13px/1 "Noto Sans KR";
    padding: 0.5rem;
    background: $clark-kensington-stowe-mountain;
    border-radius: 0.25rem;
    color: #fff;
    transition: all 0.4s;
    cursor: pointer;
  }
  .input-file:hover + .input-file-trigger,
  .input-file:focus + .input-file-trigger,
  .input-file-trigger:hover,
  .input-file-trigger:focus {
    opacity: 0.7;
  }
}

.file-return {
  &:not(:empty) {
    &::before {
      content: "Selected file: ";
    }
  }
}

/*selectbox*/

.selectbox {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  flex-wrap: nowrap !important;

  &::-ms-expand {
    display: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.7rem;
    width: 0;
    height: 0;
    margin-top: -6px;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  label {
    white-space: nowrap;
    margin-right: 0.5rem;
  }
  select {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    height: $input-height;
    -webkit-appearance: none;
    padding: 0 1.5rem 0 0.35rem;
    font: 14px/1 "Noto Sans KR";
    background-color: white;
    color: #333;
    outline: 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 1px 1px $primary-color;
    }
  }
}

/* Tab Menu */

.tabs {
  display: flex;
  li {
    cursor: pointer;
    position: relative;
    transition: 0.25s;

    &:hover,
    &.active {
      color: $main-color;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .row.title {
    position: sticky;
    top: 0;
    z-index: 51;
  }
}

.tab-content {
  display: none;
  &.active {
    flex-direction: column;
  }
}

/*table*/

.table {
  width: 100%;
  margin: 0 auto 1rem;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: $california-paints-baby-seal;
    color: white;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
    cursor: pointer;
  }
  .title {
    font: 14px/1 "Roboto", "Noto Sans KR";
    color: $kelly-moore-camp-muir !important;
    word-break: keep-all;
    border-radius: 0;
    background-color: transparent !important;
    border-top: 2px solid $auro-peppermint;
    border-bottom: 1px solid $auro-peppermint;
    padding: 0.75rem 0 !important;
    cursor: default;
  }
  .row {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    position: relative;
    animation: fadeInOpacity 0.8s forwards;
    li {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      padding: 0 0.25rem;
    }
    span {
      color: #5e5c67;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

.table-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

/* =====================================================
   Toggle buttons
   ===================================================== */
.toggle {
  cursor: pointer;
}

.toggle-switch {
  input {
    appearance: none;
    display: none;

    + label {
      position: relative;
      user-select: none;
      background-color: #d3d6d9;
      height: 19px;
      width: 35px;
      border-radius: 25px;
      transition: 0.2s;
      overflow: unset;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        transition: 0.2s;
        box-shadow: 0 5px 10px 0px rgb(0 0 0 / 15%);
      }
    }

    &:checked {
      + label {
        background-color: $main-color;
        z-index: 10 !important;

        &::before {
          left: 17px;
        }
      }
    }
  }
}

/* =====================================================
   Modal Effect
   ===================================================== */
.modal {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
  }

  &.modal-alert {
    :is(.modal-header, .modal-content, .buttons) {
      justify-content: center;
      text-align: center;
      gap: 0.5rem;
    }

    .modal-content {
      align-items: center;
      font-size: 16px;
    }

    .buttons {
      margin-top: 0;
      justify-content: center;
    }
  }

  &:is(.modal-confirm, .modal-alert) {
    .dialog {
      min-width: 25rem;
      max-width: 25rem;
      min-height: 10rem;
      padding: 1.75rem 1.25rem 1.25rem;
      gap: 0.75rem;
      word-break: keep-all;
      line-height: 1.25;
    }

    .modal-header {
      display: none;
    }

    .modal-content,
    .buttons {
      padding: 0;
    }
  }

  :is(.modal-header, .modal-content, .buttons) {
    padding: 1.25rem;
  }

  .dialog {
    min-width: 35rem;
    max-width: 90vw;
    max-height: 90%;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 30;
    overflow: hidden;

    &.small {
      min-width: 25rem;
    }
  }

  .modal-header {
    flex: 0 0 auto;
    position: relative;

    .close {
      position: absolute;
      top: 18px;
      right: 1.25rem;
      width: 18px;
      height: 18px;
      background-image: linear-gradient(#333 0 0), linear-gradient(#333 0 0);
      background-position: center;
      background-size: 100% 2px, 2px 100%;
      background-repeat: no-repeat;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  .modal-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .buttons {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;

    button {
      border-radius: 0.35rem;
      height: 36px;
      padding: 0 2rem;
    }
  }

  .btn-submit,
  .btn-main {
    background-color: rgb(118 130 248);
    color: #fff;
    box-shadow: 0 3px 9px -4px rgba(118, 130, 248, 1);
  }

  .btn-cancel {
    color: $dark-secondary-color;
  }
}

/* Loader */

.loader {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tooltip */
[data-tooltip] {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }

    &::before {
      max-height: 400px;
    }
  }

  &::before {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    min-width: 300px;
    width: 300px;
    white-space: pre-line;
    content: attr(data-tooltip);
    word-break: keep-all;
    transform: translateX(-50%);
    background-color: #333;
    padding: 0.75rem;
    line-height: 1.5;
    color: white;
    border-radius: 0.5rem;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 50%;
    font: 13px/1.5 "Noto Sans KR";
    transition: all 0.2s;
    z-index: -1;
  }

  &::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: calc(100% + 0.15rem);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-bottom: 7px solid #333;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    font-size: 0;
    line-height: 0;
    transition: all 0.2s;
  }
}

.input-alert {
  width: 100%;
  color: orangered;
}

.tooltip {
  position: relative;
  user-select: none;
  word-break: keep-all;

  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath fill='rgb(131 155 179)' d='M24.2 35.65Q25 35.65 25.55 35.1Q26.1 34.55 26.1 33.75Q26.1 32.95 25.55 32.4Q25 31.85 24.2 31.85Q23.4 31.85 22.85 32.4Q22.3 32.95 22.3 33.75Q22.3 34.55 22.85 35.1Q23.4 35.65 24.2 35.65ZM22.45 28.35H25.4Q25.4 27.05 25.725 25.975Q26.05 24.9 27.75 23.5Q29.3 22.2 29.95 20.95Q30.6 19.7 30.6 18.2Q30.6 15.55 28.875 13.95Q27.15 12.35 24.3 12.35Q21.85 12.35 19.975 13.575Q18.1 14.8 17.25 16.95L19.9 17.95Q20.45 16.55 21.55 15.775Q22.65 15 24.15 15Q25.85 15 26.9 15.925Q27.95 16.85 27.95 18.3Q27.95 19.4 27.3 20.375Q26.65 21.35 25.4 22.4Q23.9 23.7 23.175 24.975Q22.45 26.25 22.45 28.35ZM24 44Q19.8 44 16.15 42.475Q12.5 40.95 9.8 38.25Q7.1 35.55 5.55 31.9Q4 28.25 4 24Q4 19.8 5.55 16.15Q7.1 12.5 9.8 9.8Q12.5 7.1 16.15 5.55Q19.8 4 24 4Q28.15 4 31.8 5.55Q35.45 7.1 38.15 9.8Q40.85 12.5 42.425 16.15Q44 19.8 44 24Q44 28.25 42.425 31.9Q40.85 35.55 38.15 38.25Q35.45 40.95 31.8 42.475Q28.15 44 24 44ZM24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45Q24 23.45 24 23.45ZM24 41Q31.05 41 36.025 36Q41 31 41 24Q41 17 36.025 12Q31.05 7 24 7Q16.85 7 11.925 12Q7 17 7 24Q7 31 11.925 36Q16.85 41 24 41Z'/%3E%3C/svg%3E");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 0.25rem;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &::after {
    content: "";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%, 5px);
    border-bottom: 7px solid #333;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transition: all 0.2s;
  }

  &:hover {
    z-index: 100;

    &::after {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0);
    }

    .tooltip-content {
      opacity: 1;
      visibility: visible;
      max-height: 300px;
      transform: translate(0, 8px);
    }
  }
}

.tooltip-content {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  word-break: keep-all;
  position: absolute;
  top: 100%;
  padding: 1rem 0.75rem;
  width: 360px;
  border-radius: 0.5rem;
  background-color: #333;
  color: white;
  text-align: left;
  font: 13px/1.5 "Noto Sans KR";
  transform: translate(0, 13px);
  transition: all 0.2s;

  &.active {
    z-index: 100 !important;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: -4rem;
  right: 2rem;
  transition: bottom 0.25s;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: $main-color
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath fill='white' d='M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z'/%3E%3C/svg%3E")
    no-repeat center;
  box-shadow: 0 3px 9px -4px $primary-color;
  cursor: pointer;
  z-index: 100 !important;

  &.active {
    bottom: 2rem;
  }
}

// Datepicker
.ui-datepicker {
  flex-direction: column;
  padding: 0.5rem;

  .ui-widget-header {
    border: 1px solid $primary-color;
    background: $secondary-color;
    color: #333333;
    font-weight: normal;
    font-family: "RobotoMedium";
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    display: flex;
    justify-content: center;
    cursor: pointer;

    span {
      display: none;
    }

    &::before {
      content: "";
      display: block;
      border: 2px solid $primary-color;
      border-left: 0;
      border-bottom: 0;
      transform: rotate(45deg);
      width: 8px;
      height: 8px;
    }

    &.ui-state-hover {
      top: 2px;
      border: 0;
      background: transparent;
      font-weight: unset;
    }
  }

  .ui-datepicker-prev {
    &::before {
      transform: rotate(225deg);
    }
  }

  th {
    font-weight: normal;
    font-family: "RobotoMedium";
    font-size: 13px;
    color: #939699;
  }

  .ui-datepicker-calendar {
    margin-bottom: 0;

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
      border: 1px solid #eee;
      background: transparent;
      font: normal 13px/1 "Roboto";
      width: 29px;
      height: 32px;
      border-radius: 3px;
    }

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {
      border: 1px solid #7682f8;
      background: #f2f1ff;
      color: #333;
      font-family: "RobotoMedium";
    }

    .ui-state-hover,
    .ui-widget-content .ui-state-hover,
    .ui-widget-header .ui-state-hover,
    .ui-state-focus,
    .ui-widget-content .ui-state-focus,
    .ui-widget-header .ui-state-focus,
    .ui-button:hover,
    .ui-button:focus {
      border: 1px solid #e3e6e9;
      background: #e3e6e9;
      font-weight: normal;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
      border: 1px solid $primary-color;
      background: $primary-color;
      font-weight: normal;
      color: white;
    }
  }
}
/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js-image {
  max-width: 100%;
  display: block;
}

.loaded .js-image {
  opacity: 0;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #080c2b;
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: $primary-color;
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

/* Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a3a6a9;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =====================================================
   Dark mode
   ===================================================== */

.dark-mode,
.dark-mode main {
  background-color: $dark-primary-color !important;
  color: white;
}

.dark-mode a {
  color: white;
}

.dark-mode .button-cancel {
  background-color: $dark-tertiary-color;
  color: white;
}

.dark-mode p,
.dark-mode label {
  color: #d0d3dc !important;
}

.dark-mode input,
.dark-mode select {
  background-color: #484c5a !important;
  color: white;
}

.dark-mode .selectbox::before {
  border: solid $main-color;
  border-width: 0 1px 1px 0;
}

.dark-mode header {
  border-color: $dark-secondary-color !important;
}

.dark-mode aside {
  background-color: $dark-primary-color !important;
}

.dark-mode .menu {
  background-color: $dark-primary-color;
  color: white;
  border-color: #393b40;
}

.dark-mode .menu a {
  color: #ccc;
  transition: 0.2s color;
}

.dark-mode .content {
  background: $dark-secondary-color !important;
}

.dark-mode .content .title h1 {
}

.dark-mode svg {
  fill: rgba(255, 255, 255, 0.3);
}

.dark-mode .table .row {
  background-color: $dark-secondary-color;
}

.dark-mode .table .row span {
  color: #d0d3dc;
}

.dark-mode input[type="radio"] + label:before {
  background-color: #373a46;
  border-color: $dark-primary-color;
}

.dark-mode input[type="radio"]:hover + label:before,
.dark-mode input[type="radio"]:checked + label:before {
  box-shadow: inset 0 0 0 2px $dark-primary-color;
}

.dark-theme {
  color: white;
  svg {
    fill: white;
  }
}

@media screen and (max-width: 960px) {
  .modal {
    .dialog {
      min-width: auto !important;
      max-width: none !important;
      width: calc(100% - 2rem) !important;
    }
  }
}
