@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 480px) {
  body {
    .wrapper {
      max-width: 100% !important;
    }

    h3 {
      font-size: 32px;
      text-align: center;
    }

    .texts {
      align-items: center;
    }
  }

  .main-header {
    height: 106px;
    overflow: hidden;

    section {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        height: 54px;
        padding: 0 1rem;
        white-space: nowrap;

        .wrapper {
          justify-content: space-between;
        }

        .logo {
          flex-basis: 200px;
        }

        .lnb {
          width: 100%;
          border-top: 1px solid #ddd;
          position: absolute;
          padding: 1rem;
          top: 50px;
          left: 0;
          background: white;
          overflow-x: auto;

          a {
            width: auto;
          }
        }
      }
    }
  }

  .main-footer {
    .wrapper {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      text-align: center;
    }
    .contact {
      p {
        font-size: 15px;
      }
    }

    .sitemap {

      li {
        text-align: left;
      }
    }
  }

  .content {
    .section-title {
      margin-bottom: 2rem;

      h3 {
        margin-bottom: 1rem;
      }
      p {
        font-size: 17px;
      }
    }
  }

  .content-solution {
    .texts {
      flex: 0 0 auto;

      h3 {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 17px;
      text-align: center;
    }

    .wrapper {
      flex-direction: column !important;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    figure,
    .image {
      width: 75vw;
      max-width: 360px;

      img {
        width: 100%;
      }
    }

    .horizontal {
      .wrapper {
        gap: 1.5rem;
      }
    }

    .buttons {
      width: 100%;
      white-space: nowrap;

      button {
        flex: 1 1 auto;
        padding: 0.75rem !important;
      }
    }

    section {
      padding: 5rem 0;
    }

    .section-main {
      display: flex !important;
      justify-content: center;
      background-size: cover;
      padding: 0 !important;
      height: 70vh;
      position: relative;

      h1 {
        font-size: 36px;
      }
    }

    .section-steps {

      .section-title {
        margin-bottom: 0
      }

      .process {
        flex-direction: column;
        gap: 2rem;
      }

      li {
        flex: 0 0 auto;
        padding-left: 4.5rem;
        align-items: flex-start;

        &::before {
          height: 100%;
          width: 1px;
          left: 1.5rem !important;
        }

        &:first-of-type::before {
          width: 1px;
          right: auto;
        }

        &:last-of-type::before {
          content: none;
        }

        i {
          position: absolute;
          left: 0;
          top: -0.5rem;
        }

        p {
          text-align: left;
        }
      }

      .buttons {
        button {
          font-size: 18px;
        }
      }

      .caution {
        p {
          text-align: left;
        }
      }
    }
  }

  .content-solution.pro {
    .section-function {
      h3 {
        margin-bottom: 0 !important;
      }

      h5 {
        font-size: 24px;
        color: #0e1838;
      }

      ul {
        flex-direction: column;
        gap: 3rem;

        li {
          gap: 0.75rem;

          h3 {
            font-size: 28px;
          }
        }
      }
    }

    .section-count {
      .wrapper {
        border-radius: 0;
      }

      .title {
        height: 36px;
        font-size: 17px;
        margin-bottom: 0.5rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li {
          width: 100%;
        }
      }

      .count {
        font-size: 45px;

        span {
          width: 80px;
        }
      }
    }

    .section-chart {
      ul {
        margin-top: 2rem;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        justify-content: space-around;

        li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
        }
      }

      .title {
        font-size: 17px;
        padding-left: 1.5rem;
        height: 20px;
        background-size: contain;
        white-space: nowrap;
      }

      .count {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .section-brand {
      padding: 5rem 0 3rem;
    }

    .section-task {
      .section-title {
        flex-direction: column;

        h3 {
          margin-bottom: 1rem;
        }
      }
    }

    .section-computer {
      background-size: 130%;
      padding-bottom: 18rem;
      height: 70vh;
      background-position: center bottom;
    }

    .section-detail {
      .image {
        box-shadow: 0 1rem 3rem rgba(50, 50, 100, 0.1);
        background: white;
        overflow: hidden;
        border-radius: 1rem;
      }
    }

    .section-kakaotalk {
      padding-bottom: 0;

      .image {
        box-shadow: 0 1rem 3rem rgba(10, 10, 100, 0.1);
        border-radius: 3rem;
        margin-bottom: -4px;
      }
    }

    .section-advertiser {
      background: url(../images/solutions/bg_advertiser_s.jpg);
      background-size: cover;
      padding-bottom: 18rem;
      margin-top: -4px;
      position: relative;

      .caution {
        background-color: rgba(0, 0, 0, 0.16);
        padding: 0.75rem;
        border-radius: 0.5rem;
        word-break: keep-all;
        margin-top: 1rem;

        p {
          color: rgba(255, 255, 255, 0.7);
          font-size: 13px;
          line-height: 1.5;
        }
      }
    }
  }

  .content-solution.trend {
    .section-wondering {
      padding-left: 1rem;
      padding-right: 1rem;
      position: relative;

      h3 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 0 !important;
      }

      .wrapper {
        padding: 1.5rem;
        flex-direction: column;
      }

      .slider {
        width: 100%;

        li::before,
        li:after {
          font-size: 60px;
        }

        li::before {
        }
      }
    }

    .section-trend {
      ul {
        flex-direction: column;
        gap: 2rem;

        li {
          width: 100%;
        }
      }
    }

    .section-sign-up {
      .image {
        flex: 0 0 auto;

        img {
          height: auto;
          max-width: 100%;
        }
      }
    }
  }

  

	.section-price
	{

		ul
		{
			width: 100%;
			flex-direction: column;
			align-items: center;

			li
			{
				width: 100%
			}

			dl
			{
				gap: 1rem;
				flex-direction: row;
				flex-wrap: wrap;

				dd
				{
					flex: 1 1 auto
				}
			}
		}
	}

	.content-function
	{
		padding: 1rem 1rem 5rem;

		.wrapper
		{
			display: flex;
			flex-direction: column !important;
			align-items: center !important
		}

		.tabs
		{
			overflow-x: auto;
			padding: 0.5rem 0;
			width: 100%;
			align-items: flex-start;
			justify-content: flex-start;
			white-space: nowrap;
		}

		.image
		{
			width: 70vw;
			height: auto;
			flex: none;
			max-height: 200px;
			margin-bottom: -5rem;
			z-index: 10;

      img {
        margin: 0 !important;
        max-width: 100%;
      }
		}

		article
		{

			.texts
			{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 1rem;
				padding-top: 4rem !important;
				height: auto;
			}
		}
	}
}
