.main-wrapper {
  width: 1280px !important;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  section {
    width: 100%;
    display: flex;
    padding: 0 1rem;

    &:first-of-type {
      background-color: #f3f6f9;
      height: 45px;
      align-items: center;
      justify-content: flex-end;
    }

    &:last-of-type {
      height: 70px;
    }

    ul {
      display: flex;
      gap: 1rem;
    }

    .logo {
      flex: 0 0 300px;
      background: url(../images/logo.svg) no-repeat left center;
      background-size: 80%;
      height: 100%;
    }
  }

  .lnb {
    flex: 1 1 auto;
    align-items: center;
    gap: 2rem;

    &:hover {
      + .subs {
        opacity: 1;
        visibility: visible;
        display: flex;
        max-height: 999px;
        // padding: 2rem 2rem 2rem 300px
      }
    }

    a {
      font-size: 16px;
    }
  }

  .subs {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    top: 100%;
    z-index: 100;
    gap: 2rem;
    width: 100%;
    background-color: white;
    padding-left: 300px;
    transition: 0.4s;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.content {
  overflow-y: auto;
  > section {
    padding: 10rem 0;

    &:nth-of-type(odd) {
      background-color: #eee;
    }

    .texts {

      h1 {
        font-size: 60px;
        margin-bottom: 1rem;

        span {
          display: block;
        }
      }

      p {
        font-size: 20px;

        span {
          display: block;
        }
      }
    }
  }
}

.content-main {
  .section-main {
    background-color: beige;
    height: calc(100% - 130px);
    display: flex;
    align-items: center;
  }

  .section-different {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        background-repeat: no-repeat;
        width: 200px;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        text-align: center;
      }
    }
  }

  .section-solutions {
    .tabs {
      li {
        font-size: 16px;
      }
    }

    .image {
      width: 500px;
      height: 500px;
    }

    .texts {
      text-align: left;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
