{% macro active(currentPage = 'index') %}
<aside>
  <div class="logo">
    <a href="index.html">
      <span class="responsive">D</span>
      <span>다이애드</span>
      <span class="impact">TREND</span>
    </a>
  </div>
  <div class="username">
    <a href="https://diad.co.kr/Mypage/PaymentHistoryView" target="_blank">gabiacns</a>
  </div>
  <div class="sub-menu">
    <!-- <div class="zoom-in-out">
      <span>화면크기</span>
      <button class="zoom-out" type="button"></button>
      <button class="zoom-in" type="button"></button>
    </div> -->
    <a href="">로그아웃</a>
  </div>
  <!-- <div class="sub-menu">
    <a href="https://diad.co.kr/Account/DiadLogin">로그인</a>
    <a href="https://diad.co.kr/Account/CertificationBusiness">회원가입</a>
  </div> -->
  <nav>
    <a class="{% if currentPage == 'ranking' %}is-active{% endif %}" href="ranking.html">
      <i class="ico-ranking"></i>
      <span>상품 순위 조회</span>
    </a>
    <a class="{% if currentPage == 'lowestPrice' %}is-active{% endif %}" href="lowest_price.html">
      <i class="ico-price"></i>
      <span>최저가 알림</span>
    </a>
    <a class="{% if currentPage == 'keyword' %}is-active{% endif %}" href="keyword.html">
      <i class="ico-trend"></i>
      <span>키워드 트렌드</span>
    </a>
    <a class="{% if currentPage == 'settings' %}is-active{% endif %}" href="settings.html">
      <i class="ico-alarm"></i>
      <span>알림설정</span>
    </a>
  </nav>
</aside>
{% endmacro %}