<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/main.js"></script>
  
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
  <div class="container">
    <header class="main-header">
      <section>
        <ul class="gnb">
          <li>
            <a href="">로그인</a>
          </li>
          <li>
            <a href="">회원가입</a>
          </li>
          <li>
            <a href="">광고문의</a>
          </li>
          <li>
            <a href="">다이애드 솔루션</a>
          </li>
          <li>
            <a href="tel:1644-4527">1644-4527</a>
          </li>
        </ul>
      </section>
      <section class="main-wrapper">
        <span class="logo"></span>
        <ul class="lnb">
          <li>
            <a href="">광고솔루션</a>
          </li>
          <li>
            <a href="">광고상품</a>
          </li>
          <li>
            <a href="">컨텐츠제작</a>
          </li>
          <li>
            <a href="">SNS마케팅</a>
          </li>
          <li>
            <a href="">고객지원</a>
          </li>
        </ul>
        <ul class="subs">
          <li>
            <h3>다이애드PRO</h3>
            <a href="">서비스소개</a>
            <a href="">서비스기능</a>
            <a href="">서비스요금</a>
            <h3>다이애드WAVE</h3>
            <a href="">서비스소개</a>
            <a href="">서비스기능</a>
            <a href="">서비스요금</a>
            <h3>다이애드TREND</h3>
            <a href="">서비스소개</a>
            <a href="">서비스기능</a>
            <a href="">서비스요금</a>
          </li>
          <li>
            <a href="">오픈마켓광고</a>
            <a href="">포탈광고</a>
            <a href="">모바일광고</a>
            <a href="">네트워크광고</a>
            <a href="">구글광고</a>
          </li>
          <li>
            <a href="">상세페이지 + 영상</a>
          </li>
          <li>
            <h3>SNS마케팅</h3>
            <a href="">블로그</a>
            <a href="">페이스북</a>
            <a href="">인스타그램</a>
            <a href="">언론홍보</a>
            <a href="">지식인</a>
            <a href="">바이럴</a>
            <a href="">핫리뷰</a>
          </li>
          <li>
            <a href="">공지사항</a>
            <a href="">FAQ</a>
            <a href="">매뉴얼</a>
          </li>
        </ul>
      </section>
    </header>
    {% block content %} {% endblock %}
    <footer class="main-footer">

    </footer>
  </div>
</body>

</html>